attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==7.2.0
ConfigParser==7.2.0
cryptography==46.0.5
docutils==0.22.4
filelock==3.25.2
h2==4.3.0
HTMLParser==0.0.2
ipython==9.11.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
nltk==3.9.3
protobuf==7.34.0
pyodide==0.0.2
pyOpenSSL==26.0.0
python-dotenv==1.2.2
redis==7.3.0
simplejson==3.20.2
simplematrixbotlib==2.13.0
Sphinx==9.1.0
thread==2.0.6
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
